@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.carousel-container{
  overflow-y: hidden;
  display: flex;
  /* width: 1170px; */
  width : 100%;
  /* width: 70%; */
  justify-content: center;

}
.logos {
  overflow: hidden;
  /* padding: 60px 0; */
  background: black;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 10px;
  height: 50px;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background-color: black;
}

.logos:after {
  right: 0;
  background-color: black
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 45s slide infinite linear;
}

@media screen and (min-width: 0px) {
  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }
}

@media screen and (min-width: 768px) {
  .logos-slide img {
    height: 120px;
    margin: 0 40px;
  }
}
